* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: teal;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: black;
}

ul.nav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.nav li.right,
    ul.nav li {
        float: none;
    }
}

.home {
    height: 100vh;
    background-color: #333;
    color: white;
}

.news {
    height: 100vh;
    background-color: #333;
    color: white;
}

.contact {
    height: 100vh;
    background-color: #333;
    color: white;
}